
body {
    background-color: rgb(236, 244, 149);
    margin: 8px;
    display: block;
}

header {
    text-align: center;
    background-color: rgb(221, 205, 82);
    padding-top: 10px;
    padding-bottom: 10px;
    border: 9px solid;
    border-color: black;
}

#beeboName {
    font-family: cursive;
    font-size: xx-large; 
}

#fryName {
    font-family: monospace;
    font-size: xx-large;
}

.mainText {
    text-align: left;
    font-family: sans-serif;
}

table {
    background-color: rgb(89, 156, 148);
    padding-left: 125px;
    padding-right: 125px;
    border: 15px solid;
    border-color: black;
}

td {
    padding-left: 15px;
    padding-right: 15px;
}


#mainHeading {
    color: red;
    font-family: monospace;
    text-align: center;
    font-size: large;
}

.funParagraph {
    font-size: small;
    color: green;
    text-align: center;
    font-family: Arial;
}

.funLinks {
    font-size: small;
    color:blue;
    font-family: Arial;
}

footer {
    text-align: right;
    font-family: Arial;
}

article {
    border: 9px dashed;
    border-color: black;
    background-color: rgb(221, 205, 82);
    padding-left: 200px;
    padding-right: 200px;
}
